// MIXINS && VARIABLES

@mixin basic-box-shadow($color) {
  box-shadow: 3px 3px 5px 5px $color, 1px 0px 1px $color;
}

// LAYOUT

body {
  background-color: lightblue;
  color: darkgreen;
  height: 97vh;
  width: 100vw;
}

.card {
  background: white;
  height: 50vh;
  width: 50vw;
  border-radius: 15px;
  @include basic-box-shadow(green);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// TYPOGRAPHY
h2 {
  font-size: 3rem;
}
