// MIXINS && VARIABLES

@mixin basic-box-shadow($color) {
  box-shadow: 3px 3px 5px 5px $color, 1px 0px 1px $color;
}

$main-color: blue;
$accent-color: darken($main-color, 20%);
$background-color: lighten($main-color, 40%);

// LAYOUT

body {
  background-color: $background-color;
  color: $main-color;
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// COMPONENTS
.card {
  background: white;
  height: 50vh;
  width: 50vw;
  border-radius: 15px;
  margin-top: 15px;
  @include basic-box-shadow($accent-color);
}

.rando {
  display: flex;
  flex-direction: column;

  btn {
    height: 2em;
    background: magenta;
    color: white;
    width: 10vmax;
    text-align: center;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    line-height: 1.5;
    &:hover {
      cursor: pointer;
    }
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
    font-weight: 500;
    font-size: 5vmin;
  }
}

.image-card {
  background-image: url("../images/yoda-stitch.jpg");
  background-position: center;
}

// TYPOGRAPHY
h2 {
  font-size: 3rem;
}
